<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<absolute-ordering/>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginVal</servlet-name>
  	<display-name>LoginVal</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.LoginVal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentOper</servlet-name>
  	<display-name>StudentOper</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.StudentOper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudent</servlet-name>
  	<display-name>DeleteStudent</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<display-name>StudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStu</servlet-name>
  	<display-name>DeleteStu</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleStud</servlet-name>
  	<display-name>DeleStud</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.DeleStud</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dlete</servlet-name>
  	<display-name>Dlete</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.Dlete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentService</servlet-name>
  	<display-name>StudentService</display-name>
  	<description></description>
  	<servlet-class>com.dxc.service.StudentService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServe</servlet-name>
  	<display-name>StudentServe</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.StudentServe</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<display-name>DeleteStudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudServ</servlet-name>
  	<display-name>StudServ</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.StudServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginVal</servlet-name>
  	<url-pattern>/LoginVal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentOper</servlet-name>
  	<url-pattern>/StudentOper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudent</servlet-name>
  	<url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStu</servlet-name>
  	<url-pattern>/DeleteStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleStud</servlet-name>
  	<url-pattern>/delestud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dlete</servlet-name>
  	<url-pattern>/Dlete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentService</servlet-name>
  	<url-pattern>/StudentService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentServe</servlet-name>
  	<url-pattern>/StudentServe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudServ</servlet-name>
  	<url-pattern>/StudServ</url-pattern>
  </servlet-mapping>
</web-app>
